<?xml version="1.0"?>

<robot name="elspider_air" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot)/urdf/elspider_air/xacro/const.xacro"/>
    <xacro:include filename="$(find robot)/urdf/elspider_air/xacro/trunk.xacro"/>
    <xacro:include filename="$(find robot)/urdf/elspider_air/xacro/leg.xacro"/>
    <xacro:include filename="$(find robot)/urdf/elspider_air/xacro/gazebo.xacro"/>
    <xacro:include filename="$(find robot)/urdf/elspider_air/xacro/sensor.xacro"/>

    <xacro:leg name="RF" mirror="1" back = "1" special = "1" special2 = "1">
        <origin rpy="0 -0 0" xyz="0.3 -0.08 0.011"/>
    </xacro:leg>

    <xacro:leg name="RM" mirror="1" back = "1" special = "1"  special2 = "1">
        <origin rpy="0 -0 0" xyz="0 -0.14 0.011"/>
    </xacro:leg>

    <xacro:leg name="RB" mirror="1" back = "-1" special = "1" special2 = "1" >
        <origin rpy="0 -0 0" xyz="-0.3 -0.08 0.011"/>
    </xacro:leg>

    <xacro:leg name="LF" mirror="-1" back = "1" special = "-1" special2 = "1" >
        <origin rpy="-3.1416 0 0" xyz="0.3 0.08 0.011"/>
    </xacro:leg>

    <xacro:leg name="LM" mirror="-1" back = "1" special = "1" special2 = "-1" >
        <origin rpy="-3.1416 0 0" xyz="0 0.14 0.011"/>
    </xacro:leg>

    <xacro:leg name="LB" mirror="-1" back = "-1" special = "1" special2 = "1" >
        <origin rpy="-3.1416 0 0" xyz="-0.3 0.08 0.011"/>
    </xacro:leg>

</robot>
