[submodule "hexapod_robot_assets"]
	path = hexapod_robot_assets
	url = https://github.com/HITSME-HexLab/hexapod_robot_assets.git

[submodule "legged_traj_planner/legged_traj_plan_examples/mcts_planner"]
	path = legged_traj_planner/legged_traj_plan_examples/mcts_planner
	url = https://github.com/BetterEthan/contactPlanner_HexMIni.git
[submodule "legged_traj_planner/third_party/LeggedKinModule"]
	path = legged_traj_planner/third_party/LeggedKinModule
	url = https://github.com/MasterYip/LeggedKinModule
[submodule "ros_visualizer"]
	path = dependency/ros_visualizer
	url = https://github.com/MasterYip/ros_visualizer
	branch = master
[submodule "stomp"]
	path = dependency/stomp
	url = https://github.com/ros-industrial/stomp.git
[submodule "dependency/pinocchio"]
	path = dependency/pinocchio
	url = https://github.com/leggedrobotics/pinocchio.git
[submodule "dependency/grid_map"]
	path = dependency/grid_map
	url = https://github.com/ANYbotics/grid_map.git
[submodule "dependency/hpp-fcl"]
	path = dependency/hpp-fcl
	url = https://github.com/leggedrobotics/hpp-fcl.git
[submodule "legged_traj_planner/third_party/cddlib"]
	path = legged_traj_planner/third_party/cddlib
	url = https://github.com/cddlib/cddlib.git
