<launch>
    <!-- ElSpider Air Simple Planner -->

    <!-- Settings -->
    <!-- Gazebo / Hardware -->
    <arg name="sim" default="true" />
    <!-- keyboard / PS5 -->
    <arg name="teleop_type" default="keyboard" />
    <!-- Planner Config -->
    <!-- swing_traj_planner / swing_traj_planner_cfg -->
    <!-- swing_traj_planner_rrt / swing_traj_planner_rrtcfg -->
    <arg name="planner_cfg" default="swing_traj_planner_cfg" />
    <!-- Optitrack -->
    <arg name="use_optitrack" default="false" />
    <!-- true: plan only in Rviz / false: get feedback from HexapodSoftware -->
    <arg name="fake_feedback" default="false" />
    <!-- GridMap -->    <!-- Ground & Ceiling (must be of the same size) -->
    <arg name="resolution" value="0.025" />
    <!-- Ground -->
    <!-- <arg name="grid_map_file" value="$(find legged_traj_plan_examples)/data/hit_spider_walking_demo/Terrain2-HalfSideSlope-ground.png" /> -->
    <!-- <arg name="grid_map_file" value="$(find legged_traj_plan_examples)/data/hit_spider_walking_demo/Terrain1-DualBarrier-ground.png" />
    <arg name="min_height" value="0" />
    <arg name="max_height" value="0.35" /> -->
    <arg name="grid_map_file" value="$(find legged_traj_plan_examples)/data/hit_spider_walking_demo/Terrain3-Stairs-ground.png" />
    <arg name="min_height" value="0" />
    <arg name="max_height" value="0.48" />
    <!-- Ceiling -->
    <arg name="with_ceiling" value="false" />
    <arg name="grid_map_file_ceiling" value="$(find legged_traj_plan_examples)/data/hit_spider_walking_demo/Terrain1-DualBarrier-ceiling.png" />
    <arg name="min_height_ceiling" value="0.0" />
    <arg name="max_height_ceiling" value="0.5" />
    <!-- Only used when fake_feedback=true -->
    <arg name="elevation_layer" value="elevation_inpainted" />
    <arg name="ceiling_layer" value="ceiling" />
    <!-- GridMap -->
    <arg name="grid_map_topic" value="/grid_map" />
    <!-- ROS bag record (under ~/.ros) -->
    <arg name="rosbag_record" value="false" />

    <!-- Launch -->
    <!-- GridMap -->
    <group if="$(eval fake_feedback == 1)">
        <node pkg="legged_traj_plan_examples" type="image_publisher.py" name="image_publisher" output="screen">
            <param name="image_path" value="$(arg grid_map_file)" />
            <param name="topic" value="~image" />
        </node>
        <group if="$(arg with_ceiling)">
            <node pkg="legged_traj_plan_examples" type="image_publisher.py" name="image_ceiling_publisher" output="screen">
                <param name="image_path" value="$(arg grid_map_file_ceiling)" />
                <param name="topic" value="~image" />
            </node>
        </group>
        <node pkg="legged_traj_plan_examples" type="image_to_gridmap" name="image_to_gridmap" output="screen">
            <param name="with_ceiling" value="$(arg with_ceiling)" />
            <param name="image_topic" value="/image_publisher/image" />
            <param name="image_ceiling_topic" value="/image_ceiling_publisher/image" />
            <param name="resolution" value="$(arg resolution)" />
            <param name="map_frame_id" value="odom" />
            <param name="min_height" value="0" />
            <param name="max_height" value="$(arg max_height)" />
            <param name="min_height_ceiling" value="$(arg min_height_ceiling)" />
            <param name="max_height_ceiling" value="$(arg max_height_ceiling)" />
            <!-- Name -->
            <param name="grid_map_topic" value="$(arg grid_map_topic)" />
            <param name="elevation_layer" value="$(arg elevation_layer)" />
            <param name="ceiling_layer" value="$(arg ceiling_layer)" />
            <rosparam command="load" file="$(find legged_traj_plan_examples)/config/image_to_gridmap.yaml" />
        </node>
        <!-- sdf_pub for SDF visualization (pointcloud) -->
        <!-- <node pkg="legged_traj_plan_examples" type="sdf_pub" name="sdf_pub" output="screen">
            <param name="elevation_layer" value="$(arg elevation_layer)" />
            <param name="grid_map_topic" value="$(arg grid_map_topic)" />
            <param name="pointcloud_topic" value="/sdf_pointcloud" />
        </node> -->
    </group>

    <group if="$(eval fake_feedback == 0)">
        <!-- HexapodSoftware -->
        <!-- <include file="$(find user)/launch/main.launch">
            <arg name="robot_name" value="elspider_air" />
            <arg name="controller_type" value="hlc" />
        </include> -->
        <!-- Vrpn Client ROS -->
        <include file="$(find vrpn_client_ros)/launch/sample.launch" if="$(eval use_optitrack == 1)"/>
        <!-- HexapodElevationMapping -->
        <include file="$(find hexapod_elevation_mapping)/launch/elspider_air_mapping.launch">
            <arg name="module_name" value="HexPercept3_optitrack" if="$(eval use_optitrack == 1)"/>
            <arg name="module_name" value="HexPercept3" if="$(eval use_optitrack == 0)"/>
            <arg name="sim" value="$(arg sim)" />
            <arg name="elevation_map_raw_topic_name" value="$(arg grid_map_topic)" />
            <arg name="rviz_gui" value="false" />
            <!-- FIXME: base name conflict with HexapodSoftware -->
            <arg name="world_frame_name" value="odom"/>
            <arg name="base_frame_name" value="base"/>
        </include>
    </group>

    <!-- Simple Planner -->
    <node pkg="legged_traj_plan_examples" type="elspider_air_simple_planner" name="elspider_air_simple_planner" output="screen">
        <param name="fake_feedback" value="$(arg fake_feedback)" />
        <param name="sim" value="$(arg sim)" />
        <rosparam command="load" file="$(find legged_traj_plan)/config/$(arg planner_cfg).yaml"/>
    </node>

    <!-- Robot related -->
    <param name="robot_description" command="$(find xacro)/xacro $(find hexapod_robot_assets)/model/elspider_air/xacro/robot.xacro" if="$(eval fake_feedback == 1)"/>
    <!-- Load robot model if sim is False -->
    <param name="robot_description" command="$(find xacro)/xacro $(find hexapod_robot_assets)/model/elspider_air/xacro/robot.xacro" if="$(eval sim == 0)"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <!-- Shadow Robot -->
    <group ns="shadow">
        <param name="robot_description" command="$(find xacro)/xacro $(find hexapod_robot_assets)/model/elspider_air/xacro/robot.xacro ns:=shadow"/>
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    </group>

    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz_elspider_air" args="-d $(find legged_traj_plan_examples)/config/rviz/elspider_air_simple_planner.rviz" output="screen" if="$(eval fake_feedback == 0)"/>
    <node pkg="rviz" type="rviz" name="rviz_elspider_air_fake" args="-d $(find legged_traj_plan_examples)/config/rviz/elspider_air_simple_planner_fake.rviz" output="screen" if="$(eval fake_feedback == 1)"/>

    <!-- Teleop -->
    <group if="$(eval teleop_type == 'keyboard')">
        <include file="$(find legged_traj_plan_examples)/launch/key_teleop.launch">
            <arg name="topic_name" value="/cmd_vel" />
        </include>
    </group>
    <group if="$(eval teleop_type == 'PS5')">
        <node pkg="joy" type="joy_node" name="joy_node" output="screen" clear_params="true" required="true">
            <param name="dev" value="/dev/input/js0"/>
            <!-- udevadm monitor -->
            <param name="dev_ff" value="/dev/input/event20"/>
            <!-- maintain a fixed send&receive frequency helps force feedback control (100Hz) -->
            <param name="coalesce_interval" value="0.01"/>
            <param name="autorepeat_rate" value="100"/>
            <param name="default_trig_val" value="true"/>
        </node>
        <node pkg="legged_traj_plan_examples" type="joy_teleop.py" name="joy_teleop" output="screen">
            <param name="cmd_topic" value="/cmd_vel" />
            <param name="joy_topic" value="/joy" />
        </node>
    </group>

    <!-- ROS bag record -->
    <group if="$(eval rosbag_record == 1)">
        <node pkg="rosbag" type="record" name="rosbag_record" args="
            /tf /tf_static 
            /grid_map 
            /elspider_air_simple_planner/grid_map_trav_test 
            /swing_traj_planner_vis 
            /hexapod/foot_state_fdb 
            -o elspider_air_simple_planner" output="screen" />
    </group>

</launch>