<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find hexapod_robot_assets)/model/elspider_air/xacro/robot.xacro"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find legged_traj_plan_examples)/config/rviz/test_robot_interface_rviz.rviz" output="screen"/> -->
    <node pkg="legged_traj_plan_examples" type="test_force_ctrl" name="test_force_ctrl" output="screen">
        <rosparam command="load" file="$(find legged_traj_plan_examples)/config/test_force_ctrl.yaml" />
    </node>
</launch>
