<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find robot_assets)/model/elspider_air/xacro/robot.xacro"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find legged_traj_plan_examples)/config/rviz/test_raibert_planner_rviz.rviz" output="screen"/>
    <node pkg="legged_traj_plan_examples" type="test_raibert_planner_rviz" name="test_raibert_planner_rviz" output="screen"/>
</launch>
