<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- <node name="rviz_polyve" pkg="rviz" type="rviz" output="screen"
        args="-d $(find polyve)/config/rviz_config.rviz"> 
    </node> -->
    <node pkg="polyve" type="cvx_trajopt_node" name="cvx_trajopt" output="screen">
        <!-- node parameters -->
        <rosparam file="$(find polyve)/config/cvx_trajopt_params.yaml" command="load" />
    </node>
</launch>
