<launch>
    <!-- HIT Spider MCTs + foot trajectory optimization -->

    <!-- Settings -->
    <!-- true: plan only in Rviz / false: get feedback from HexapodSoftware -->
    <arg name="fake_feedback" value="false" />
    <!-- value: image / txt(deprecated) -->
    <arg name="grid_map_fmt" value="image" />
    <arg name="with_ceiling" value="true" />
    <arg name="max_height" value="1.0" />
    <arg name="elevation_layer" value="elevation_inpainted" />
    <arg name="ceiling_layer" value="ceiling" />
    <!-- These two is not used temporarily -->
    <param name="grid_map_topic" value="grid_map" />
    <param name="point_cloud_topic" value="point_cloud" />

    <!-- GridMap -->
    <!-- image to gridmap -->        <!-- Ground & Ceiling (must be of the same size) -->
    <arg name="grid_map_file" value="$(find fast_legged_planner)/data/hit_spider_walking_demo/Terrain1-DualBarrier-ground.png" />
    <arg name="grid_map_file_ceiling" value="$(find fast_legged_planner)/data/hit_spider_walking_demo/Terrain1-DualBarrier-ceiling.png" />
    <!-- txt to gridmap -->
    <param name="terrain_file" value="$(find fast_legged_planner)/data/terrain4.txt" />
    <group if="$(eval fake_feedback == 1)">

        <!-- elevation_layer name is setted in grid_map_pub.cpp (ghost value needed being handled) -->
        <group if="$(eval grid_map_fmt=='image')">
            <param name="elevation_layer" value="$(arg elevation_layer)" />
            <param name="ceiling_layer" value="$(arg ceiling_layer)" />
        </group>
        <group if="$(eval grid_map_fmt=='txt')">
            <!-- This is needed when using txt files -->
            <param name="elevation_layer" value="3D_feeling" />
        </group>
    </group>

    <!-- Launch -->

    <!-- GridMap -->
    <group if="$(eval fake_feedback == 1)">
        <group if="$(eval grid_map_fmt=='image')">
            <node pkg="fast_legged_planner" type="image_publisher.py" name="image_publisher" output="screen">
                <param name="image_path" value="$(arg grid_map_file)" />
                <param name="topic" value="~image" />
            </node>
            <group if="$(arg with_ceiling)">
                <node pkg="fast_legged_planner" type="image_publisher.py" name="image_ceiling_publisher" output="screen">
                    <param name="image_path" value="$(arg grid_map_file_ceiling)" />
                    <param name="topic" value="~image" />
                </node>
            </group>
            <node pkg="fast_legged_planner" type="image_to_gridmap" name="image_to_gridmap" output="screen">
                <param name="with_ceiling" value="$(arg with_ceiling)" />
                <param name="image_topic" value="/image_publisher/image" />
                <param name="image_ceiling_topic" value="/image_ceiling_publisher/image" />
                <param name="resolution" value="0.05" />
                <param name="map_frame_id" value="odom" />
                <param name="min_height" value="0" />
                <param name="max_height" value="$(arg max_height)" />
                <remap from="/elevation" to="/$(arg elevation_layer)"/>
                <remap from="/ceiling" to="/$(arg ceiling_layer)"/>
            </node>
        </group>
        <group if="$(eval grid_map_fmt=='txt')">
            <node pkg="fast_legged_planner" type="grid_map_pub" name="grid_map_pub" output="screen"/>
        </group>

        <!-- sdf_pub for SDF visualization (pointcloud) -->
        <!-- <node pkg="fast_legged_planner" type="sdf_pub" name="sdf_pub" output="screen"/>
        <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
            <rosparam command="load" file="$(find fast_legged_planner)/config/mapVisual.yaml" />
        </node> -->
    </group>
    <group if="$(eval fake_feedback == 0)">
        <!-- HexapodSoftware -->
        <!-- <include file="$(find user)/launch/main.launch">
            <arg name="robot_name" value="elspider_air" />
            <arg name="controller_type" value="hlc" />
        </include> -->
        <!-- HexapodElevationMapping -->
        <include file="$(find hexapod_elevation_mapping)/launch/elspider_air_mapping.launch">
            <arg name="module_name" value="HexPercept3" />
            <arg name="elevation_map_raw_topic_name" value="grid_map" />
            <arg name="rviz_gui" value="false" />
            <!-- FIXME: base name conflict with HexapodSoftware -->
            <arg name="world_frame_name" value="odom"/>
            <arg name="base_frame_name" value="base"/>
        </include>
    </group>


    <!-- Simple Planner -->
    <node pkg="fast_legged_planner" type="elspider_air_simple_planner" name="elspider_air_simple_planner" output="screen">
        <param name="fake_feedback" value="$(arg fake_feedback)" />
    </node>

    <!-- Robot related -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro $(find hexapod_robot_assets)/model/elspider_air/xacro/robot.xacro" /> -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz_elspider_air" args="-d $(find fast_legged_planner)/config/elspider_air_simple_planner.rviz" output="screen" if="$(eval fake_feedback == 0)"/>
    <node pkg="rviz" type="rviz" name="rviz_elspider_air_fake" args="-d $(find fast_legged_planner)/config/walking_rviz.rviz" output="screen" if="$(eval fake_feedback == 1)"/>

    <!-- Teleop -->
    <include file="$(find fast_legged_planner)/launch/key_teleop.launch">
        <arg name="topic_name" value="/cmd_vel" />
    </include>

</launch>