<launch>
    <!-- HIT Spider MCTs + foot trajectory optimization -->

    <!-- Settings -->
    <!-- value: image/txt -->    <!-- txt Deprecated -->
    <arg name="grid_map_fmt" value="image" />
    <arg name="with_ceiling" value="true" />
    <arg name="max_height" value="1.0" />
    <arg name="elevation_layer" value="elevation" />
    <arg name="ceiling_layer" value="ceiling" />
    <!-- GridMap -->
    <!-- image to gridmap -->    <!-- Ground & Ceiling (must be of the same size) -->
    <arg name="grid_map_file" value="$(find fast_legged_planner)/data/hit_spider_walking_demo/Terrain1-DualBarrier-ground.png" />
    <arg name="grid_map_file_ceiling" value="$(find fast_legged_planner)/data/hit_spider_walking_demo/Terrain1-DualBarrier-ceiling.png" />
    <!-- txt to gridmap -->
    <param name="terrain_file" value="$(find fast_legged_planner)/data/terrain4.txt" />

    <param name="grid_map_topic" value="grid_map" />
    <param name="point_cloud_topic" value="point_cloud" />
    <!-- elevation_layer name is setted in grid_map_pub.cpp (ghost value needed being handled) -->
    <group if="$(eval grid_map_fmt=='image')">
        <param name="elevation_layer" value="$(arg elevation_layer)" />
        <param name="ceiling_layer" value="$(arg ceiling_layer)" />
    </group>
    <group if="$(eval grid_map_fmt=='txt')">
        <!-- This is needed when using txt files -->
        <param name="elevation_layer" value="3D_feeling" />
    </group>

    <!-- Launch -->
    <!-- Foot traj Planner -->
    <node pkg="fast_legged_planner" type="hit_spider_planner.py" name="footend_planner" output="screen" />

    <!-- GridMap -->
    <group if="$(eval grid_map_fmt=='image')">
        <!-- <rosparam command="load" file="$(find grid_map_demos)/config/image_to_gridmap_demo.yaml" /> -->

        <!-- Load the image. -->
        <node pkg="fast_legged_planner" type="image_publisher.py" name="image_publisher" output="screen">
            <param name="image_path" value="$(arg grid_map_file)" />
            <param name="topic" value="~image" />
        </node>
        <group if="$(arg with_ceiling)">
            <node pkg="fast_legged_planner" type="image_publisher.py" name="image_ceiling_publisher" output="screen">
                <param name="image_path" value="$(arg grid_map_file_ceiling)" />
                <param name="topic" value="~image" />
            </node>
        </group>
        <node pkg="fast_legged_planner" type="image_to_gridmap" name="image_to_gridmap" output="screen">
            <param name="with_ceiling" value="$(arg with_ceiling)" />
            <param name="image_topic" value="/image_publisher/image" />
            <param name="image_ceiling_topic" value="/image_ceiling_publisher/image" />
            <param name="resolution" value="0.05" />
            <param name="map_frame_id" value="odom" />
            <param name="min_height" value="0" />
            <param name="max_height" value="$(arg max_height)" />
            <remap from="/elevation" to="/$(arg elevation_layer)"/>
            <remap from="/ceiling" to="/$(arg ceiling_layer)"/>
        </node>
    </group>
    <group if="$(eval grid_map_fmt=='txt')">
        <node pkg="fast_legged_planner" type="grid_map_pub" name="grid_map_pub" output="screen"/>
    </group>
    <!-- sdf_pub for SDF visualization (pointcloud) -->
    <node pkg="fast_legged_planner" type="sdf_pub" name="sdf_pub" output="screen"/>
    <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
        <rosparam command="load" file="$(find fast_legged_planner)/config/mapVisual.yaml" />
    </node>

    <!-- Robot related -->
    <param name="robot_description" command="$(find xacro)/xacro $(find hexapod_robot_assets)/model/elspider2/xacro/robot.xacro" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <!-- Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_legged_planner)/config/walking_rviz.rviz" output="screen" />

</launch>