<launch>
    <!-- GCS Examples Template -->
    <!-- Settings -->
    <arg name="example_name" default="eg_gcs_barier_demo"/>

    <arg name="with_robot" default="false" />
    <arg name="with_ceiling" default="true" />
    <arg name="max_height" default="1.0" />
    <arg name="test_rate" default="5" />
    
    <arg name="grid_map_topic" default="grid_map" />
    <arg name="grid_map_update_rate" default="5" />
    <!-- Ground & Ceiling (must be of the same size) -->
    <arg name="grid_map_file" default="$(find fast_legged_planner)/data/traj_opt_demo/2-Barrier-ground.png" /> 
    <arg name="grid_map_file_ceiling" default="$(find fast_legged_planner)/data/traj_opt_demo/2-Barrier-ceiling.png" />
    <arg name="elevation_layer" default="elevation" />
    <arg name="ceiling_layer" default="ceiling" />

    <!-- GridMap -->
    <node pkg="fast_legged_planner" type="image_publisher.py" name="image_publisher" output="screen">
        <param name="image_path" value="$(arg grid_map_file)" />
        <param name="topic" value="~image" />
        <param name="rate" value="$(arg grid_map_update_rate)" />
    </node>
    <group if="$(arg with_ceiling)">
        <node pkg="fast_legged_planner" type="image_publisher.py" name="image_ceiling_publisher" output="screen">
            <param name="image_path" value="$(arg grid_map_file_ceiling)" />
            <param name="topic" value="~image" />
            <param name="rate" value="$(arg grid_map_update_rate)" />
        </node>
    </group>
    <node pkg="fast_legged_planner" type="image_to_gridmap" name="image_to_gridmap" output="screen">
        <param name="with_ceiling" value="$(arg with_ceiling)" />
        <param name="image_topic" value="/image_publisher/image" />
        <param name="image_ceiling_topic" value="/image_ceiling_publisher/image" />
        <param name="resolution" value="0.05" />
        <param name="map_frame_id" value="odom" />
        <param name="min_height" value="0" />
        <param name="max_height" value="$(arg max_height)" />
        <remap from="/elevation" to="/$(arg elevation_layer)"/>
        <remap from="/ceiling" to="/$(arg ceiling_layer)"/>
    </node>

    <!-- sdf_pub for SDF visualization (pointcloud) -->
    <node pkg="fast_legged_planner" type="sdf_pub" name="sdf_pub" output="screen"/>

    <!-- Robot related -->
    <group if="$(arg with_robot)">
        <param name="robot_description" command="$(find xacro)/xacro $(find hexapod_robot_assets)/model/elspider2/xacro/robot.xacro" />
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    </group>

</launch>