#!/usr/bin/env python
PACKAGE = "legged_traj_search_examples"
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
#初始化参数生成器
gen = ParameterGenerator()
#定义需动态配置的参数，格式为
#gen.add(name , type, level, description, default, min, max)
# gen.add("int_param",    int_t,    0, "An Integer parameter", 50,  0, 100)
# gen.add("double_param", double_t, 0, "A double parameter",    .5, 0,   1)
# gen.add("str_param",    str_t,    0, "A string parameter",  "Hello World")
# gen.add("bool_param",   bool_t,   0, "A Boolean parameter",  True)
gen.add("start_x", double_t, 0, "start_x", -0.4, -1.0, 1.0)
gen.add("start_y", double_t, 0, "start_y", -0.3, -1.0, 1.0)
gen.add("pos_shift_x", double_t, 0, "pos_shift_x", 0.0, -1.0, 1.0)
gen.add("pos_shift_y", double_t, 0, "pos_shift_y", 0.0, -1.0, 1.0)
gen.add("pos_shift_z", double_t, 0, "pos_shift_z", 0.0, -1.0, 1.0)
#生成一个枚举类型的值
# size_enum = gen.enum([ gen.const("Small",      int_t, 0, "A small constant"),                      
# 					   gen.const("Medium",     int_t, 1, "A medium constant"),                      
# 					   gen.const("Large",      int_t, 2, "A large constant"),                      
# 					   gen.const("ExtraLarge", int_t, 3, "An extra large constant")], 
# 					   "An enum to set size")
# gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)

exit(gen.generate(PACKAGE, "gcs_example_dyn_config", "GCSExample"))